.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wrapper {
  display: flex;    
}

.gauge-empty {
  width: 400px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  width: 204px;
  line-height: 20px;
}

.bullet {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
}

.contentWrapper {
  text-align: center;
}

.fa-arrow-down::before {
  color: #28B463;
  font-family: "FontAwesome";
  font-size: 1.2rem;
  font-weight: 100;
}

.meanTime {
  margin: 10px 0px;
}

.meanTime p:first-child {
  font-size: 24px;
  font-weight: 500;
  margin:0px;
}

.meanTime p:last-child {
  font-size: 20px;  
  margin:0px;
}

.meanTime span {
  font-size: 14px;
  margin-left: 2px;
}

.meanTime h4 {
  margin: 0px;
  font-size: 20px;
}
